*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/deploymentTargetSelector.xml
.idea/androidTestResultsUserPreferences.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/bergamot/out/
app/aarch64
app/x86
app/release
app/src/main/jniLibs/
.wrangler/

.dev.vars*
!.dev.vars.example
.env*
!.env.example
